<div class="cards">
    {{#each data}}
    <div class="card">
        <img src="{{this.image.url}}" height="200" width="200" alt="image of {{this.type}}">
        <div>
            <h3>{{this.name}}</h3>
            <a href="/{{this.subType}}/{{this.id}}" class="button">Views {{this.subType}}</a>
        </div>   
    </div>
    {{/each}}
</div>